/*Removes the spinner within the number input field*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card {
    background-color: bisque;
    border-radius: 6px;
    height: 220px;
    margin: auto;
    margin-bottom: 18px;
    margin-top: 18px;
    width: 380px;
}

.flex-container {
    background-color: brown;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 420px;
}

.form-style {
    margin-left: 110px;
    margin-top: 10px;
    text-align: left;
}
.main {
    background-color: bisque;
    border-color: brown;
    border-style: solid;
    border-width: 5px;
    height: 280px;
    margin: auto;
    margin-top: 38px;
    max-width: 424px;
    padding: 3px 14px 0px 14px;
    text-align: center;
}